<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Trayectoria_Calificaciones.Properties.Settings.TRAYECTORIA_ESCOLARConnectionString"
            connectionString="Data Source=148.227.28.3;Initial Catalog=TRAYECTORIA_ESCOLAR;Persist Security Info=True;User ID=sa;Password=Geode2530"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>